    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Who We Are</h2>
              <br/>
              <div class="lead">
                <p>We are a small family of native English speakers, dedicated to bringing your academic writing to life. We all have experience, not only in writing, but also in the teaching of writing, and we feel this gives us the edge over your average editor. 
<br><br>Each of our editors has a strong academic background (Master’s and above) and we can draw upon highly qualified writers from a diverse pool of fields (Natural Sciences, Social Sciences, Humanities, Business/Economics). 
<br><br>Rather than simply handing you a revised version of your work, we believe in going the extra mile. We will work together to present your research in the most logical, concise and eloquent manner possible.</p>
                <br/>
            </div>
            </div>
        </div>
    </section>
