    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Who We Are</h2>
              <br/>
              <div class="lead">
                <p>We are a small family of native English speakers, who are dedicated to helping your academic
                    writing come to life. We each have experience not only in writing, but also in the teaching
                    of writing and this we feel gives us the edge over your average editor.
                    Instead of just handing you back a revised version of your work,
                    we will specifically work together with you to help you bring your
                    points across to the reader in the best way possible.</p>
                <br/>
            </div>
            </div>
        </div>
    </section>
